
  <%- include header %>
  	<% posts.forEach(function (post,index) { %>
  	<p>
    <h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
    </h2>
    <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
    </p>
    <div class="content"> 
  	<p class="info">
 
  		author: <a href="/u/<%= post.name %>"><%= post.name %></a>
  		date: <%= post.time.minute %>
      tags: 
      <% post.tags.forEach(function (tag,index) { %>
      <% if(tag) { %>
      <a class="tag" href="/tags/<%= tag %>"> <%= tag %> </a>
      <% } %>
      <% }) %>
          <% if (post.reprint_info.reprint_from) { %>
            <br> <a href="/u/<%= post.reprint_info.reprint_from.name %>/<%=post.reprint_info_reprint_from_day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>  
    <% } %> 
  	</p>
  	<p class="post"><%- post.post %></p>
    <p class="info">
    read:<%= post.pv %> | 
    comment:<%= post.comments.length %> |
    reprint:
    <% if (post.reprint_info.reprint_to) { %>
      <%= post.reprint_info.reprint_to.length %>
      <% } else { %>
      <%= 0 %>
      <% } %>
    </p>
    </div>
  	<% }) %>
  <%- include paging %>
  <%- include footer %>
