
  <%- include header %>
  <div class="content">
    <% posts.forEach(function (post,index) { %>
    <p>
    <h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
    </h2>
    <div class="cell_author l_head" > 
    <a href="/u/<%= post.name %>"><img src="<%= post.head %>" title="<%= post.name %>" /></a>
    <a href="/>"><%= post.name %></a>  
    </div>
    </p>
    <div > 
    <p class="info">
      author: <a href="/u/<%= post.name %>"><%= post.name %></a>  |
      date: <%= post.time.minute %> |
      tags: 
      <% post.tags.forEach(function (tag,index) { %>
      <% if(tag) { %>
      <a class="tag" href="/tags/<%= tag %>"> <%= tag %> </a>
      <% } %>
      <% }) %>
          <% if (post.reprint_info.reprint_from) { %>
            <br> <a href="/u/<%= post.reprint_info.reprint_from.name %>/<%=post.reprint_info_reprint_from_day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>  
    <% } %> 
    </p>
    <p class="post"><%- post.post %></p>        
        <div class="cell_bar">
          <ul style="padding:0">
            <li><a id="putgoods" name="putgoods" href="#" title="10个赞" >赞[10]</a></li>
            <li><a id="putbads" name="putbads" href="j#" title="10个踩">踩[10]</a></li>
          </ul>
          <ul class="cell_bar_comm">
             <p class="info">
    read:<%= post.pv %> | 
    comment:<%= post.comments.length %> |
    reprint:
    <% if (post.reprint_info.reprint_to) { %>
      <%= post.reprint_info.reprint_to.length %>
      <% } else { %>
      <%= 0 %>
      <% } %>
    </p>
    <div class="bshare-custom" style="float:right;height:28px;margin-top: 4px;"><a title="分享到QQ空间" class="bshare-qzone"></a>
            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
            <a title="分享到人人网" class="bshare-renren"></a>
            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
            <a title="分享到网易微博" class="bshare-neteasemb"></a>
            <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&uuid=;pophcol=2&lang=zh"></script>
            <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
            <script type="text/javascript" charset="utf-8">
            bShare.addEntry({
                  title:"OMinds分享",
                  summary:'分享你的心事。' ,
              vTag:'OMinds'});
          </script>
          </ul>
    </div>
    <% }) %>
            
      </div>
    </div>
    </div>
  <%- include paging %>
  <%- include footer %>
